
.bg {
  background: url("https://i.ibb.co/x3FpxD7/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* .bg{
  background-color: black;
} */
@media only screen and (max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
#shape {
  animation: beat 5s linear infinite;
}
@keyframes beat {
  0% {
    transform: scale(0.85);
    opacity: (0.5);
  }
  50% {
    transform: scale(1);
    opacity: (1);
  }
  100% {
    transform: scale(0.85);
    opacity: (0.5);
  }
}

/* title */
.fancy-wipe {
  font-weight: 400;
  font-size: 2rem; /* Base font size */
  position: relative;
  --duration: 5s; /* Base animation duration */

  .text {
    color: white;
    animation: text-in var(--duration) infinite linear;
    mask: linear-gradient(to right, white, black 30%, black);
    mask-composite: exclude;
    mask-mode: luminance;
    mask-size: 100% 100%;
    mask-position: 0 0px;
  }

  .wipe-in {
    position: absolute;
    left: 0;
    background-color: #34d399; /* Hex value of bg-emerald-400 */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wipe-in var(--duration) infinite linear;
    mask: linear-gradient(to right, black, white);
    mask-composite: exclude;
    mask-mode: luminance;
    mask-size: 50% 100%;
    mask-position: 0px 0px;
  }
}

/* Mobile Styles */
@media (max-width: 600px) {
  .fancy-wipe {
    font-size: 1.5rem; /* Adjusted font size for mobile */
    --duration: 5s; /* Adjusted animation duration for mobile */

    .text {
      mask-size: 80% 100%; /* Adjust mask size if necessary */
    }

    .wipe-in {
      mask-size: 40% 100%; /* Adjust mask size if necessary */
    }
  }
}

@keyframes text-in {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  50% {
    clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%);
  }

  100% {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    mask-size: 1000% 100%;
  }
}

@keyframes wipe-in {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    filter: blur(5px);
  }

  70% {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    filter: blur(5px);
    mask-position: 100% 100%;
  }

  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    filter: blur(0);
    mask-position: 100% 100%;
  }
}
